In [1]:
# Q. No. (1) 
# (i) string 
my_string = "Hello, world!"

# (ii) list
my_List = [1,2,3,4,5,6]

# (iii) float
my_float = 2.34

# (iv) tuple
my_tuple = (10,20,30,40)

In [4]:
# Q. No. (2)
(i) var1 = ' ' - The data type of var1 is a string.

(ii) var2 = '[ DS , ML , Python]' - The data type of var2 is also a string.

(iii) var3 = ['DS', 'ML', 'Python'] - The data type of var3 is a list.

(iv) var4 = 1 - The data type of var4 is an integer.

In [ ]:
# Q. No. (3)
(i) '/' Operator:
    The / operator is the division operator in most programming languages. It is used to divide one number by another.

In [7]:
 # Let's take an example in Python :
a = 10
b = 3
c = a / b
print(c)

3.3333333333333335

In [ ]:
(ii) '%' Operator:
The % operator is called the modulus operator or the remainder operator. It is used to find the remainder when one number is divided by another.

In [10]:
#Let's continue with the previous example :
a = 10
b = 3
c = a % b
print(c)

1

In [ ]:
(iii) '//' Operator:
The // operator is the floor division operator. It performs division between two numbers and returns the integer part of the result, discarding any decimal places.

In [9]:
# Let's use an example to illustrate :
a = 10
b = 3
c = a // b
print(c)

3

In [ ]:
(iv) '**' Operator:
The ** operator is the exponentiation operator. It raises a number to the power of another number.

In [12]:
# Let's see an example:
a = 2
b = 3
c = a ** b
print(c)

8

In [16]:
# Q. No. 4 

l = [1, 2, 3, "akash", 3.14, True, False, 'shiv', 4, 23.4]
for i in l:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
akash <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
False <class 'bool'>
shiv <class 'str'>
4 <class 'int'>
23.4 <class 'float'>

In [4]:
# Q. No. 6

# Creating a list of 25 integers
my_list = [7, 21, 14, 9, 30, 17, 18, 25, 12, 8, 36, 45, 32, 11, 6, 24, 39, 16, 27, 20, 10, 33, 22, 28, 15]

# Checking divisibility by 3 using a for loop and if-else condition
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

7 is not divisible by 3
21 is divisible by 3
14 is not divisible by 3
9 is divisible by 3
30 is divisible by 3
17 is not divisible by 3
18 is divisible by 3
25 is not divisible by 3
12 is divisible by 3
8 is not divisible by 3
36 is divisible by 3
45 is divisible by 3
32 is not divisible by 3
11 is not divisible by 3
6 is divisible by 3
24 is divisible by 3
39 is divisible by 3
16 is not divisible by 3
27 is divisible by 3
20 is not divisible by 3
10 is not divisible by 3
33 is divisible by 3
22 is not divisible by 3
28 is not divisible by 3
15 is divisible by 3

In [ ]:
# Q. No. 7
Immutablen Data :
Immutable data types are those whose values cannot be changed once they are created. Any operation on an immutable data type creates a new value rather than modifying the existing one.
(1) immutable data types include:
    
(i) Strings: In most programming languages, strings are immutable. Once a string is created, its value cannot be modified.
(ii) Tuples: Tuples are another example of an immutable data type. Once a tuple is created, its elements cannot be modified. However, the entire tuple can be replaced with a new tuple.

(2) mutable data type :
    On the other hand, mutable data types are those that can be modified after they are created. Changes made to a mutable data type affect the same instance of the object. 
    mutable data types include:
(i) Lists: Lists are mutable in most programming languages. Elements can be added, removed, or modified within the list.